/* 
    Document   : messages
    Created on : Oct 26, 2009, 1:32:53 PM
    Author     : Johannes Strampe
    Description:
       Messages shown by logout, error, and not available
*/

body {
    background-color:#bbbbbb;
    margin:0px;
}

#message {
    background-color:#ffffff;
    font-size:20px;
    text-align:center;
    margin-top:100px;
    padding:30px;
}
